.nav {
    border-radius: 8px;
    padding: 20px;
    height: 75vh;
    background-color: white;
}

.nav__item {
    display: block;
    font-family: "Open Sans" sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    border: none; 
    outline: none;
    background-color: white;
}